*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    height: 100vh;
    background-color: thistle;
    display: grid;
    place-content: center;

}

main .flex-container{
    padding: 20px ;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
    background-color:rgb(244, 194, 127);
    width: 270px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.flex-container .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

}
main .flex-container img{
    width: 200px;
    text-align: center;
}

main .flex-container .intro{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
main .flex-container h2{
    width: 200px;
    text-align: center;
}


main h2{
    color: rgb(75, 16, 16);
}

main .flex-container button{
    background-color: rgb(214, 74, 69);
    color: white !important;
    cursor: pointer;
}

main .flex-container  input{
  color:  rgb(0, 0, 0) !important;

}


main .flex-container button, input{
border: none;
border-radius: 8px;
outline: none;
padding: 10px;
color: grey;
width: 100%;
}

main .flex-container button:hover{
    background-color: rgb(206, 56, 51);
    color: white !important;
}

ul{
    overflow-y: scroll;
    background-color: white;

padding: 10px 0;
height: 160px;
margin-top: 5px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 5px;

}

/* Styles for the scrollbar */
ul::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
   
  }
  
  /* Track */
  ul::-webkit-scrollbar-track {
    background: rgb(207, 206, 206); /* Color of the track */
  }
  
  /* Handle */
  ul::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 213); /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners */
    
  }
  
  /* Handle on hover */
  ul::-webkit-scrollbar-thumb:hover {
    background: orange; /* Color on hover */
  }
  

ul li{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); 
    margin-bottom: 8px;
    list-style: none;
    border-radius:5px;
    width: 80%;
    color:black;
    position: relative;
 padding: 3px;
    text-align: left;
    display: flex;
    align-items: center;
   

}

.trash-icon {
    position: absolute;
    right: 10px; /* Add left margin to separate from text */
    cursor: pointer; /* Set cursor to pointer to indicate it's clickable */
    color: rgb(206, 56, 51);

}

.alert{
    background-color: white;
    color:rgb(56, 9, 9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    font-weight: bolder;
    border-radius: 30px;
    padding: 5px;
}

.alert.hide {
    display: none;
}


.alert .content{
    display: flex;
    justify-content: space-between;
   width: 80%;
    /* padding: 5px; */
}



.alert .content p{
cursor: pointer;
padding: 5px;
border-radius: 8px;
}

.alert .content p:hover{
background-color: thistle;
color: brown;
}